.tile {
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 15px;
  box-shadow: 1px 2px 1px 2px #9FA3B1
}

.tile svg {
  margin: 25px;
  box-shadow: 2px 3px 3px 3px #7FA3B1
}

.links line {
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #333333;
  stroke-width: 1.5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#my_datavis svg {
  box-shadow: 1px 1px 3px 2px #555555;
  margin: 30px;
}
