.tiles {
  display: flex;
  padding-top: 25px;
}
.tiles svg {
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 600px;
  margin: auto;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 1), 0 2px 5px 0 rgba(0, 0, 0, 1)
}